@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Rajdhani';
    src: url(../polices/Rajdhani-Medium.ttf);
}
:root {
    --yellow-color: #FFFF00;
    --white-color: #ffffff;
}


/*Design de la navigation*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0;
    
}

ul {
    list-style: none;
    display: flex; /* Assure que les éléments de la liste sont en ligne */
    gap: 20px; /* Ajoute de l'espace entre les éléments de la liste */
}

nav ul a {
    color: var(--white-color);
    font-size: 25px;
    font-weight: 600;
    font-family: 'rajdhani';
    /*text-decoration: none; */
   
}

.logo:hover {
    -webkit-filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}

.logo-f:hover {
    -webkit-filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}

.social:hover {
    -webkit-filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
    filter: invert(4%) sepia(100%) saturate(1498%) hue-rotate(355deg) brightness(109%) contrast(103%);
}

.image-container:hover {
    transform: scale(1.1);
}

nav ul a:hover {
    color: var(--yellow-color);
}


/* les barres */
.up-bar {
    border-top: #BCBBBD 1px solid;
    position: absolute;
    top: 132px;
    width: 88%;
    left: 90px;
}

.left-bar {
    background-color: #BCBBBD;
    height: 2600px;
    left: 87%;
    top: 0px;
    border-left: 1px solid #BCBBBD;
    position: absolute;
    margin-left: 102px;
}

.right-bar {
    background-color: #BCBBBD;
    height: 2600px;
    right: 85%;
    top: 0px;
    border-left: 1px solid #BCBBBD;
    position: absolute;
    margin-right: 102px;
}

*:focus {
    outline: none;
}

body {
    background-color: black;
    background-image: url("../Illustrations_bat2/Batgame_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 1% 7%;


}

/*menu*/

.container {
    width: 80%;
    margin: 0 auto;
}

nav.container {
    display: flex;
    justify-content: space-between;
    /* Sépare le logo et les éléments de navigation */
    align-items: center;
    /* Centre verticalement les éléments */
}

nav.container ul li {
    margin-left: 20px;
    /* Espacement entre les éléments de la liste */
}

main {
    color: white;
}


/*LA premiere partie */


.play {
    margin: 10% 10% 40% 10%;
}

.fleche-bas,
.btn1 {
    text-align: center;
    margin-bottom: 10%;
}

.first-img {
    text-align: center;
}

#chevalier {
    width: 80%;
    margin-bottom: 5%;
}


#btn-change,
.btn-change1 {
    padding: 2% 4%;
    background: linear-gradient(to left, #b97438, #585450);
    color: white;
    margin-bottom: 5%;
}

/* scroll*/

.scroll {
    margin: -40% 0 0 82.5%;
    position: fixed;
}


.fl a img:hover,
#logob1:hover,
.reseau img:hover {
    filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
    -webkit-filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
    ;

}

.reseau img {
    display: block;
    margin: auto;
}

/*LE FOOTER*/


/*Design du footer*/
footer {
    margin-top: 250px;
}

footer .text-footer {
    text-align: center;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

footer .text-footer img {
    margin-right: 10px;
}

footer .social-footer {
    text-align: center;
    margin: 30px;
}

/* scroll*/

.scroll {
    margin: -40% 0 0 82.5%;
    position: fixed;
}


.fl a img:hover,
#logob1:hover,
.reseau img:hover {
    filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
    -webkit-filter: invert(4%) sepia(100%) saturate(1023%) hue-rotate(358deg) brightness(106%) contrast(107%);
    ;

}

.reseau img {
    display: block;
    margin: auto;
}

/* Aligner les logos du bas */
.social-item img {
    vertical-align: middle;
    /* Alignement vertical au milieu */
}

footer .social-item {
    padding: 15px;
    text-decoration: none;
}